.section {
    clear: both;
    margin-bottom: 10px;
    padding-top: 10px;
}

.section h3 {
    margin-bottom: 10px;
}

ul.params {
    list-style-type: none;
}

ul.params li {
    margin-bottom: 0.5em;
}

ul.params label {
    padding-right: 0.5em;
}

ul.params input {
    padding: 0.1em;
    vertical-align: middle;
    margin: 0;
}

.queue-jobs .paging {
    margin: 15px 0;
}

#queue-table td,
#queue-table th {
    padding: 5px 10px;
}

#queue-table {
    width: 100%;
    margin: 0 auto;
}

#queue-table .header {
    background-color: rgba(217, 237, 247, 0.8);
}

#queue-table tr td,
#queue-table .header {
    border-color: rgb(217, 237, 255);
    border-width: 1px;
}

#queue-table .ok {
    background-color: rgba(158, 255, 185, 0.1);
}

#queue-table .ok:hover,
#queue-table tbody tr.ok:hover > td {
    background-color: rgba(158, 255, 185, 0.4);
}

#queue-table .ko {
    background-color: rgba(255, 185, 185, 0.1);
}

#queue-table .ko:hover,
#queue-table tbody tr.ko:hover > td {
    background-color: rgba(255, 185, 185, 0.4);
}

#queue-table .priority {
    background-color: rgba(255, 255, 0, 0.1);
}

#queue-table .priority:hover,
#queue-table tbody tr.priority:hover > td {
    background-color: rgba(255, 255, 0, 0.4);
}

#queue-table .lastcol {
    text-align: center;
    vertical-align: middle;
}

#queue-table .lastcol a {
    display: block;
    height: 40px;
    line-height: 40px;
}
#queue-table tbody tr:hover,
#queue-table tbody tr:hover > td {
    background-color: rgba(217, 237, 247, 0.4);
}

#queue-filter {
    margin-bottom: 10px;
}

#course-tree li,
.batch_assign_roles {
    list-style: none;
}

#course-tree li input {
    vertical-align: middle;
    margin: 0;
}

.js-only {
    display: none;
}

#course-list {
    margin: 0;
}

.actions {
    margin: 5px 0;
}

#course-tree ul.categories,
#course-tree ul.subcategories,
#course-tree ul.courses {
    margin: 0;
}

#course-tree .category_group span{
    cursor: pointer;
}

#course-tree .course_category_tree li.category {
    margin: 0 0 0 1em;
}

.course_category_tree .category_group li.course {
    padding-left: 1em;
}

.course_category_tree .category_group span {
    padding-left: 1em;
    background-repeat: no-repeat;
    background-position: 0 3px;
    background-image: url('../../pix/t/switch_minus.png');
}

.course_category_tree .category_group.batch_hidden span {
    background-image: url('../../pix/t/switch_plus.png');
}

.course_category_tree li label,
.batch_assign_roles label {
    cursor: pointer;
}

.course_category_tree .course label {
    margin-left: 0.3em;
    vertical-align: middle;
}

.batch_hidden > ul {
    display: none;
}

.batch_hidden_toggle {
    display: none;
}

.batch_restart_courses input,
.batch_create_courses input {
    vertical-align: middle;
}

.batch_restart_courses label,
.batch_create_courses label,
.batch_config_courses label {
    display: inline-block;
    margin-right: 0.5em;
}

.batch_param {
    display: inline-block;
    min-width: 11em;
    font-weight: bold;
}

.batch_value {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    max-width: 70%;
}

.batch_category {
    clear: both;
    padding-top: 1em;
}

.batch_delimiter {
    margin: 0 0.5em;
}

.batch_theme {
    margin-right: 0.5em;
}

.batch_toggle_datepicker,
.batch_toggle_category {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}

.batch_error {
    white-space: pre-wrap;
}

.batch_error_switcher {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url('../../pix/t/switch_plus.png');
    margin-right: 0.5em;
}

.batch_error_switcher_minus {
    background-image: url('../../pix/t/switch_minus.png');
}

.batch_collapsed {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 35em;
}

.batch_pending,
.batch_starthour {
    margin-left: 1em;
}